@import url("https://fonts.googleapis.com/css2?family=Lemon:wght@400;700&family=Montserrat+Alternates&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.897);
  --font-family: "Lemon", "Montserrat Alternates", "sans-serif";
}

body {
  min-height: 100vh;
  color: white;
  transition: all 0.3s ease;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  z-index: 2;
}

nav span {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: var(--text-shadow);
  font-family: var(--font-family);
}

nav ul {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  text-shadow: var(--text-shadow);
}

nav ul li {
  list-style-type: none;
  font-family: var(--font-family);
}

.scroll-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
}

section.scroll-container.first {
  background-image: url("./images/clouds-blue-clear-sky.jpg");
}

section.scroll-container.second {
  background-image: url("./images/trekking-sky.jpg");
}
section.scroll-container.third {
  background-image: url("./images/landscape-view.jpg");
}
section.scroll-container.fourth {
  background-image: url("./images/religion-background.jpg");
}
section.scroll-container.fifth {
  background-image: url("./images/culture-bg.jpg");
  background-position: top center;
}
section.scroll-container.sixth {
  background-image: url("./images/heritage-bg.jpg");
  background-position: top center;
}
section.scroll-container.seventh {
  background-image: url("./images/food-bg.jpg");
}

.scroll-container h1 {
  text-shadow: var(--text-shadow);
  font-size: 5rem;
  font-family: "Lemon", "sans-serif";
  margin-bottom: 10rem;
}

.scroll-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

section.scroll-container.second {
  position: relative;
  overflow: hidden;
}
section.scroll-container.third {
  position: relative;
  overflow: hidden;
}
section.scroll-container.fourth {
  position: relative;
  overflow: hidden;
}
section.scroll-container.fifth {
  position: relative;
  overflow: hidden;
}
section.scroll-container.sixth {
  position: relative;
  overflow: hidden;
}
section.scroll-container.seventh {
  position: relative;
  overflow: hidden;
}

section.scroll-container.second h1 {
  margin-top: 35rem;
}
section.scroll-container.third h1 {
  margin-left: 90rem;
  width: 100%;
}
section.scroll-container.fourth h1 {
  margin-top: 50rem;
  margin-left: 20rem;
}
section.scroll-container.fifth h1 {
  margin-right: 70rem;
}
section.scroll-container.sixth h1 {
  margin-left: 40rem;
}
section.scroll-container.seventh h1 {
  margin-top: 90rem;
}

img.hiker {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  top: 9%;
  left: -30%;
  transform: scale(0.7);
}

img.hiking-ground {
  position: absolute;
  object-fit: cover;
  margin-top: 26rem;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

img.buddha {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: auto;
  top: -7%;
  transform: scale(1.5);
  margin-right: 40rem;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.clouds img {
  position: absolute;
  top: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  pointer-events: none;
  animation: moving-clouds 10s linear infinite;
}

@keyframes moving-clouds {
  0% {
    opacity: 0;
    transform: scale(1) rotateZ(10deg);
  }
  25%,
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}

.information {
  background-color: rgba(220, 220, 220, 0.501);
  color: black;
  padding: 2rem 3rem;

  font-family: "Montserrat Alternates", "sans-serif";
}

.information h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.information p {
  font-size: 1.5rem;
}
